.movies {
    display : flex;
    flex-wrap: wrap;
    margin-top: 115px;
    justify-content: space-evenly;
    background: rgb(19,40,43);
    background: radial-gradient(circle, rgba(19,40,43,1) 53%, rgba(14,12,15,1) 100%);
}

#movie-paper {
    margin: 10px 5px;
    background-color: #ad4830;
    transition: all .2s ease-in-out;
}


#movie-paper:hover { 
    transform: scale(1.15); 
}