.movies {
    display : flex;
    flex-wrap: wrap;
    margin-top: 115px;
    justify-content: space-evenly;
}

#movie-paper {
    margin: 10px 5px;
    background-color: #ad4830;
    transition: all .2s ease-in-out;
}


#movie-paper:hover { 
    transform: scale(1.15); 
}